*, html, body{margin: 0; padding: 0;list-style: none;text-decoration: none;box-sizing: border-box;}

.tab{
  width: 400px;
  overflow: hidden;
  height: 40px;
}

.title{
  background: #0d3349;
  color: wheat;
  padding: 10px;
  cursor: pointer;
}
.content{
  background: #2aa198;
  color: whitesmoke;
  padding: 10px;
}
.line{
  width: 100px;
  height: 20px;
  background: fuchsia;
  margin: 10px;
}
