<div class="tab tab_seven" appAccordion>
  <p class="title">Tab 7</p>
  <p class="content">dkjfhdsjkfhjdshfdskfhdskjlfsdk dskfjh dskjfhds hdskfjdskf hdskfjhds jkfhdskjfhk dsjhfksdjhfd
    jhfjdshfjksd  shfdksjfhd</p>
</div>
<div class="tab tab_eight" appAccordion>
  <p class="title">Tab 8</p>
  <p class="content">dkjfhdsjkfhjdshfdskfhdskjlfsdk dskfjh dskjfhds hdskfjdskf hdskfjhds jkfhdskjfhk dsjhfksdjhfd
    jhfjdshfjksd  shfdksjfhd</p>
</div>
<div class="tab tab_nine" appAccordion>
  <p class="title">Tab 9</p>
  <p class="content">dkjfhdsjkfhjdshfdskfhdskjlfsdk dskfjh dskjfhds hdskfjdskf hdskfjhds jkfhdskjfhk dsjhfksdjhfd
    jhfjdshfjksd  shfdksjfhd</p>
</div>
<div class="tab tab_ten" appAccordion>
  <p class="title">Tab 10</p>
  <p class="content">dkjfhdsjkfhjdshfdskfhdskjlfsdk dskfjh dskjfhds hdskfjdskf hdskfjhds jkfhdskjfhk dsjhfksdjhfd
    jhfjdshfjksd  shfdksjfhd</p>
</div>
<div class="line"></div>
