<div class="container">
  <div>
    <div class="tab tab_one" appAccordion>
      <p class="title">Tab 1</p>
      <p class="content"> hdskfjhds jkfhdskjfhk dsjhfksdjhfd
        jhfjdshfjksd hkjdshfkdshfkjdshfkjdshfkjdshfdshf dskfjh djkfhds khkjdsfhkjdshfk jdhfkdsjfhksdjhfkjd shfdksjfhd</p>
    </div>
    <div class="tab tab_two" appAccordion>
      <p class="title">Tab 2</p>
      <p class="content">dkjfhdsjkfhjdshfdskfhdskjlfsdk dskfjh dskjfhds hdskfjdskf hdskfjhds jkfhdskjfhk dsjhfksdjhfd
        jhfjdshfjksd hkjdshfkdshfkjdshfkjdshfkjdshfdshf dskfjh djkfhds khkjdsfhkjdshfk jdhfkdsjfhksdjhfkjd shfdksjfhd</p>
    </div>
    <div class="tab tab_three" appAccordion>
      <p class="title">Tab 3</p>
      <p class="content">dkjfhdsjkfhjdshfdskfhdskjlfsdk dskfjh dskjfhds hdskfjdskf hdskfjhds jkfhdskjfhk dsjhfksdjhfd
        jhfjdshfjksd  shfdksjfhd</p>
    </div>

    <ul>
      <li>1  kldjfdslkf</li>
      <li>2</li>
      <li>3</li>
      <li>4 dsfsdfdsfdf</li>
      <li>5</li>
    </ul>

    <div class="tab tab_four" appAccordion>
      <p class="title">Tab 4</p>
      <p class="content">dkjfhdsjkfhjdshfdskfhdskjlfsdk dskfjh dskjfhds hdskfjdskf hdskfjhds jkfhdskjfhk dsjhfksdjhfd
        jhfjdshfjksd  shfdksjfhd</p>
    </div>
  </div>
  <div>
    <div class="tab tab_five" appAccordion>
      <p class="title">Tab 5</p>
      <p class="content">dkjfhdsjkfhjdshfdskfhdskjlfsdk dskfjh dskjfhds hdskfjdskf hdskfjhds jkfhdskjfhk dsjhfksdjhfd
        jhfjdshfjksd  shfdksjfhd</p>
    </div>
    <div class="tab tab_six" appAccordion>
      <p class="title">Tab 6</p>
      <p class="content">dkjfhdsjkfhjdshfdskfhdskjlfsdk dskfjh dskjfhds hdskfjdskf hdskfjhds jkfhdskjfhk dsjhfksdjhfd
        jhfjdshfjksd  shfdksjfhd</p>
    </div>
    <p style="width:500px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias assumenda autem doloribus, error fugit magni, modi, neque possimus quod sint veritatis vero! Dicta eligendi explicabo labore, molestias nobis quae recusandae vitae? Aliquam asperiores dolor et facilis minus necessitatibus, neque nihil nostrum pariatur quas, quibusdam quisquam quod recusandae rerum ullam.</p>
  </div>
  <app-another></app-another>
</div>

